<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>937324853804-nkbhurtuivm97prv65murlsd9c7cdq95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937324853804-nkbhurtuivm97prv65murlsd9c7cdq95</string>
	<key>API_KEY</key>
	<string>AIzaSyA5N-cCSUDEs9q0X-cb3fy867E9FgtXJT4</string>
	<key>GCM_SENDER_ID</key>
	<string>937324853804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chionophile.erent</string>
	<key>PROJECT_ID</key>
	<string>erent-a9e7e</string>
	<key>STORAGE_BUCKET</key>
	<string>erent-a9e7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937324853804:ios:b4bfb2adf1ca6a91</string>
	<key>DATABASE_URL</key>
	<string>https://erent-a9e7e.firebaseio.com</string>
</dict>
</plist>