.item {
    display: block;
    border: 1px solid;
    width: 25px;
    padding: 0 5px;
    font-size: 20px;
    border-radius: 8px;
    height: 27px;
    cursor: pointer;
    background-color: #ccc !important;
    color: #0d17f6 !important;
}

    .item :hover {
        color: #ccc !important;
        background-color: #0d17f6 !important;
    }

#placesParentDiv > div > div {
    display: inline-table !important;
    margin: 0 10px;
}

#itemSelect {
    width: 225px;
}
